<div class="border border-dark rounded bg-main container d-flex flex-column py-4" style="width: 50%">
    <div class="text-info font-logo" style="font-size: 250%">
        Nhập vào Đường Dẫn
    </div>
    <div class="text-info text-center font-text mt-3">
        <form class="form-inline" method="post">
            <input type="text" name="link_yt" class="form-control col-md-9" id="inputLink" placeholder="Link Youtube">
            <button type="submit" class="btn btn-outline-info col-md-2.5 ml-4 zoom" style="font-weight: bold">
                <i class="fas fa-search"></i>
                Nhập Vào
            </button>
        </form>
    </div>
</div>
