<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SSCoCa</title>
    {% include 'elements/meta-data.html' %}
</head>
<body>
    <div class="d-flex flex-column justify-content-between bg-image h-850px" style="padding-top: 150px">
        {% include 'elements/navigation.html' %}
        <div>
            <div class="border border-dark rounded bg-main container text-center font-text text-warning mb-5" style="font-size: 180%; width: 55%">
                Đường dẫn bạn nhập vào không hợp lệ! Hãy nhập lại!
            </div>
            {% include 'elements/search.html' %}
        </div>
        {% include 'elements/copyright.html' %}
    </div>
    <script>
        function myFunction() {
            // Get the snackbar DIV
            var x = document.getElementById("snackbar");
            // Add the "show" class to DIV
            x.className = "show";
            // After 3 seconds, remove the show class from DIV
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
        function myFunction1() {
            // Get the snackbar DIV
            var x = document.getElementById("snackbar1");
            // Add the "show" class to DIV
            x.className = "show";
            // After 3 seconds, remove the show class from DIV
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>
</body>
</html>